
transitionCB(params)
  -webkit-transition params
  -moz-transition params
  -o-transition params
  -ms-transition params
  transition params

animationPlayStateCB(params)
  -webkit-animation-play-state: params;
  -moz-animation-play-state: params;
  -o-animation-play-state: params;
  animation-play-state: params;

